Source: neardal
Maintainer: Samuel Ortiz <sameo@linux.intel.com>
Section: net
Priority: optional
Homepage: https://01.org/linux-nfc
Vcs-Git: https://github.com/connectivity/neardal
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9), libglib2.0-dev (>= 2.28),
	       libdbus-1-dev (>= 1.4), libnl-3-dev (>= 3.2),
	       libnl-genl-3-dev (>= 3.2), python, pkg-config

Package: neardal
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dbus, kmod, neard
Recommends: bluez
Description: Provides a simple C APIs to exchange datas with our NFC daemon (Neard) present on the system.

Package: neardal-dev
Section: devel
Architecture: any
Depends: ${misc:Depends}, libglib2.0-dev (>= 2.28), libdbus-1-dev (>= 1.4),
	 libnl-3-dev (>= 3.2), libnl-genl-3-dev (>= 3.2), neard
Suggests: neardal
Description: neardal development files
 This package contains header files, pkgconfig support and D-Bus API
 descriptions for developing neardal plugins.
